html,
body,
#root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a:visited,
a:link {
  color: #306479;
}

a:hover {
  color: #1a343f;
}
